DATABASE_URL=jdbc:postgresql://ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require&user=xxx&password=xxx
FIREBASE_CREDENTIALS_FILE=/path/to/serviceAccountKey.json
FIREBASE_PROJECT_ID=your-firebase-project-id
PORT=8080
